@{
    ViewData["Title"] = "Teşekkürler";
}
<div class="diger-sayfa-arkaplan"></div>

<div class="text-center mt-5">
    <h2>Teşekkürler!</h2>
    <p>İletiniz başarıyla alınmıştır. En kısa sürede size geri dönüş yapılacaktır.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Anasayfaya Dön</a>
</div>