@{
    ViewData["Title"] = "Logged In";
}

<div class="text-center">
    <h2>Hoşgeldin @ViewBag.UserName</h2>
    <p>
        Menü çubuğundan yemeklerimiz kısmına tıklayarak sipariş verebilirsin.
    </p>
</div>
