@{
    ViewData["Title"] = "Logged In";
}
<div class="diger-sayfa-arkaplan"></div>

<div class="text-center">
    <h4>Hoşgeldin @ViewBag.UserName !</h4>
    <p></p>
    <p></p>
    <p>
        Menü çubuğundan 'Yemekler' kısmına tıklayarak sipariş verebilirsin.
    </p>
    <p>
    </p> Dilersen 'Annelerimiz' seçeneğinden favori ev hanımının günün menüsü seçeneğini de sipariş verebilirsin.
</div>
