@{
    ViewData["Title"] = "Yemekler";
}

<div>
    <h1>Yemekler</h1>
    <div>
        <a asp-controller="Meals" asp-action="Corbalar" class="custom-button">Çorbalar</a>
        <a asp-controller="Meals" asp-action="AnaYemekler" class="custom-button">Ana Yemekler</a>
        <a asp-controller="Meals" asp-action="Salatalar" class="custom-button">Salatalar</a>
        <a asp-controller="Meals" asp-action="Tatlilar" class="custom-button">Tatlılar</a>
        <a asp-controller="Meals" asp-action="Icecekler" class="custom-button">İçecekler</a>
    </div>
</div>
