@model IntimateHomeCookedFood.Models.Mother

@{
    ViewData["Title"] = "Anne Detayları";
}

<h2>@Model.Name</h2>
<p>Rating: @Model.Rating</p>
<h3>Favori Yemeği</h3>
<ul>
    @foreach (var meal in Model.Meals)
    {
        <li>@meal.Name</li>
    }
</ul>
<a href="@Url.Action("Index", "Mothers")" class="btn btn-primary">Geri Dön</a>
